.bg-transparent {
  background-color: transparent;
}

.bg-primary-very-dark {
  background-color: $color-primary-very-dark;
}

.color-primary-very-dark {
  color: $color-primary-very-dark;
}

.bg-primary-darkest {
  background-color: $color-primary-darkest;
}

.color-primary-darkest {
  color: $color-primary-darkest;
}

.bg-primary-darker {
  background-color: $color-primary-darker;
}

.color-primary-darker {
  color: $color-primary-darker;
}

.bg-primary-dark {
  background-color: $color-primary-dark;
}

.color-primary-dark {
  color: $color-primary-dark;
}

.bg-primary {
  background-color: $color-primary;
}

.color-primary {
  color: $color-primary;
}

.bg-primary-light {
  background-color: $color-primary-light;
}

.color-primary-light {
  color: $color-primary-light;
}

.bg-primary-lighter {
  background-color: $color-primary-lighter;
}

.color-primary-lighter {
  color: $color-primary-lighter;
}

.bg-primary-lightest {
  background-color: $color-primary-lightest;
}

.color-primary-lightest {
  color: $color-primary-lightest;
}

.bg-primary-very-light {
  background-color: $color-primary-very-light;
}

.color-primary-very-light {
  color: $color-primary-very-light;
}

.bg-secondary-very-dark {
  background-color: $color-secondary-very-dark;
}

.color-secondary-very-dark {
  color: $color-secondary-very-dark;
}

.bg-secondary-darkest {
  background-color: $color-secondary-darkest;
}

.color-secondary-darkest {
  color: $color-secondary-darkest;
}

.bg-secondary-darker {
  background-color: $color-secondary-darker;
}

.color-secondary-darker {
  color: $color-secondary-darker;
}

.bg-secondary-dark {
  background-color: $color-secondary-dark;
}

.color-secondary-dark {
  color: $color-secondary-dark;
}

.bg-secondary {
  background-color: $color-secondary;
}

.color-secondary {
  color: $color-secondary;
}

.bg-secondary-light {
  background-color: $color-secondary-light;
}

.color-secondary-light {
  color: $color-secondary-light;
}

.bg-secondary-lighter {
  background-color: $color-secondary-lighter;
}

.color-secondary-lighter {
  color: $color-secondary-lighter;
}

.bg-secondary-lightest {
  background-color: $color-secondary-lightest;
}

.color-secondary-lightest {
  color: $color-secondary-lightest;
}

.bg-secondary-very-light {
  background-color: $color-secondary-very-light;
}

.color-secondary-very-light {
  color: $color-secondary-very-light;
}

.bg-dark {
  background-color: $color-dark;
}

.color-dark {
  color: $color-dark;
}

.bg-neutral-very-dark {
  background-color: $color-neutral-very-dark;
}

.color-neutral-very-dark {
  color: $color-neutral-very-dark;
}

.bg-neutral-darkest {
  background-color: $color-neutral-darkest;
}

.color-neutral-darkest {
  color: $color-neutral-darkest;
}

.bg-neutral-darker {
  background-color: $color-neutral-darker;
}

.color-neutral-darker {
  color: $color-neutral-darker;
}

.bg-neutral-dark {
  background-color: $color-neutral-dark;
}

.color-neutral-dark {
  color: $color-neutral-dark;
}

.bg-neutral {
  background-color: $color-neutral;
}

.color-neutral {
  color: $color-neutral;
}

.bg-neutral-light {
  background-color: $color-neutral-light;
}

.color-neutral-light {
  color: $color-neutral-light;
}

.bg-neutral-lighter {
  background-color: $color-neutral-lighter;
}

.color-neutral-lighter {
  color: $color-neutral-lighter;
}

.bg-neutral-lightest {
  background-color: $color-neutral-lightest;
}

.color-neutral-lightest {
  color: $color-neutral-lightest;
}

.bg-neutral-very-light {
  background-color: $color-neutral-very-light;
}

.color-neutral-very-light {
  color: $color-neutral-very-light;
}

.bg-light {
  background-color: $color-light;
}

.color-light {
  color: $color-light;
}

.bg-error {
  background-color: $color-error;
}

.color-error {
  color: $color-error;
}

.bg-error-light {
  background-color: $color-error-light;
}

.color-error-light {
  color: $color-error-light;
}

.bg-error-very-light {
  background-color: $color-error-very-light;
}

.color-error-very-light {
  color: $color-error-very-light;
}

.bg-info {
  background-color: $color-info;
}

.color-info {
  color: $color-info;
}

.bg-info-light {
  background-color: $color-info-light;
}

.color-info-light {
  color: $color-info-light;
}

.bg-info-very-light {
  background-color: $color-info-very-light;
}

.color-info-very-light {
  color: $color-info-very-light;
}

.bg-success {
  background-color: $color-success;
}

.color-success {
  color: $color-success;
}

.bg-success-light {
  background-color: $color-success-light;
}

.color-success-light {
  color: $color-success-light;
}

.bg-success-very-light {
  background-color: $color-success-very-light;
}

.color-success-very-light {
  color: $color-success-very-light;
}

.bg-warning {
  background-color: $color-warning;
}

.color-warning {
  color: $color-warning;
}

.bg-warning-light {
  background-color: $color-warning-light;
}

.color-warning-light {
  color: $color-warning-light;
}

.bg-warning-very-light {
  background-color: $color-warning-very-light;
}

.color-warning-very-light {
  color: $color-warning-very-light;
}
