// Headings - Mobile
h1,
.h1 {
  @include set-font(48, 1, -1.2 * $px, 900);

  &.hero {
    font-size: 48 * 1.25 * $px;
  }
}

h2,
.h2 {
  @include set-font(44, 1.1, -1.2 * $px, 700);
}

h3,
.h3 {
  @include set-font(36, 1.28, -0.8 * $px, 700);
}

h4,
.h4 {
  @include set-font(24, 1.33, -0.4 * $px, 700);
}

h5,
.h5 {
  @include set-font(20, 1.3, -0.2 * $px, 700);
}

h6,
.h6 {
  @include set-font(15, 1.47, -0.1 * $px, 700);
}

// Headings - Desktop
@media (min-width: $break-large) {
  h1,
  .h1 {
    font-size: 64 * $px;
    line-height: 1.22;

    &.hero {
      font-size: 64 * 1.25 * $px;
    }
  }

  h2,
  .h2 {
    font-size: 48 * $px;
    line-height: 1.25;
  }
}

.caps1,
.caps2,
.caps3,
.caps4 {
  @include set-font(13, 1.08, 1 * $px, 700);
  text-transform: uppercase;
}

.caps3,
.caps4 {
  font-size: 11 * $px;
  line-height: 1.09;
}

.caps2,
.caps4 {
  font-weight: 500;
}

.caps3 {
  font-weight: 900;
}

// Icon exceptions:
// .icon {
//   &.h1,
//   &.h2,
//   &.h3,
//   &.h4,
//   &.h5,
//   &.h6,
//   &.hero {
//     font-family: 'Drafty-icons';
//     font-weight: normal;

//     a {
//       font-family: inherit;
//       font-weight: inherit;
//     }
//   }
// }
